.flags { width: 16px; height: 11px; background: url('../images/flags.png') no-repeat top left; } 
.flags.ad { background-position: 0px 0px; } 
.flags.ae { background-position: 0px -21px; } 
.flags.af { background-position: 0px -42px; } 
.flags.ag { background-position: 0px -63px; } 
.flags.ai { background-position: 0px -84px; } 
.flags.al { background-position: 0px -105px; } 
.flags.am { background-position: 0px -126px; } 
.flags.an { background-position: 0px -147px; } 
.flags.ao { background-position: 0px -168px; } 
.flags.ar { background-position: 0px -189px; } 
.flags.as { background-position: 0px -210px; } 
.flags.at { background-position: 0px -231px; } 
.flags.au { background-position: 0px -252px; } 
.flags.aw { background-position: 0px -273px; } 
.flags.ax { background-position: 0px -294px; } 
.flags.az { background-position: 0px -315px; }
.flags.ba { background-position: 0px -336px; } 
.flags.bb { background-position: 0px -357px; } 
.flags.bd { background-position: 0px -378px; } 
.flags.be { background-position: 0px -399px; } 
.flags.bf { background-position: 0px -420px; } 
.flags.bg { background-position: 0px -441px; } 
.flags.bh { background-position: 0px -462px; } 
.flags.bi { background-position: 0px -483px; } 
.flags.bj { background-position: 0px -504px; } 
.flags.bm { background-position: 0px -525px; } 
.flags.bn { background-position: 0px -546px; } 
.flags.bo { background-position: 0px -567px; } 
.flags.br { background-position: 0px -588px; } 
.flags.bs { background-position: 0px -609px; } 
.flags.bt { background-position: 0px -630px; } 
.flags.bv { background-position: 0px -651px; } 
.flags.bw { background-position: 0px -672px; } 
.flags.by { background-position: 0px -693px; } 
.flags.bz { background-position: 0px -714px; } 
.flags.ca { background-position: 0px -735px; } 
.flags.catalonia { background-position: 0px -756px; } 
.flags.cc { background-position: 0px -777px; } 
.flags.cd { background-position: 0px -798px; } 
.flags.cf { background-position: 0px -819px; } 
.flags.cg { background-position: 0px -840px; } 
.flags.ch { background-position: 0px -861px; } 
.flags.ci { background-position: 0px -882px; } 
.flags.ck { background-position: 0px -903px; } 
.flags.cl { background-position: 0px -924px; } 
.flags.cm { background-position: 0px -945px; } 
.flags.cn { background-position: 0px -966px; } 
.flags.co { background-position: 0px -987px; } 
.flags.cr { background-position: 0px -1008px; } 
.flags.cs { background-position: 0px -1029px; } 
.flags.cu { background-position: 0px -1050px; } 
.flags.cv { background-position: 0px -1071px; } 
.flags.cx { background-position: 0px -1092px; } 
.flags.cy { background-position: 0px -1113px; } 
.flags.cz { background-position: 0px -1134px; } 
.flags.de { background-position: 0px -1155px; } 
.flags.dj { background-position: 0px -1176px; } 
.flags.dk { background-position: 0px -1197px; } 
.flags.dm { background-position: 0px -1218px; } 
.flags.do { background-position: 0px -1239px; } 
.flags.dz { background-position: 0px -1260px; } 
.flags.ec { background-position: 0px -1281px; } 
.flags.ee { background-position: 0px -1302px; } 
.flags.eg { background-position: 0px -1323px; } 
.flags.eh { background-position: 0px -1344px; } 
.flags.england { background-position: 0px -1365px; } 
.flags.er { background-position: 0px -1386px; } 
.flags.es { background-position: 0px -1407px; } 
.flags.et { background-position: 0px -1428px; } 
.flags.europeanunion { background-position: 0px -1449px; } 
.flags.fam { background-position: 0px -1470px; } 
.flags.fi { background-position: 0px -1491px; } 
.flags.fj { background-position: 0px -1512px; } 
.flags.fk { background-position: 0px -1533px; } 
.flags.fm { background-position: 0px -1554px; } 
.flags.fo { background-position: 0px -1575px; } 
.flags.fr { background-position: 0px -1596px; } 
.flags.ga { background-position: 0px -1617px; } 
.flags.gb { background-position: 0px -1638px; } 
.flags.gd { background-position: 0px -1659px; } 
.flags.ge { background-position: 0px -1680px; } 
.flags.gf { background-position: 0px -1701px; } 
.flags.gh { background-position: 0px -1722px; } 
.flags.gi { background-position: 0px -1743px; } 
.flags.gl { background-position: 0px -1764px; } 
.flags.gm { background-position: 0px -1785px; } 
.flags.gn { background-position: 0px -1806px; } 
.flags.gp { background-position: 0px -1827px; } 
.flags.gq { background-position: 0px -1848px; } 
.flags.gr { background-position: 0px -1869px; } 
.flags.gs { background-position: 0px -1890px; } 
.flags.gt { background-position: 0px -1911px; } 
.flags.gu { background-position: 0px -1932px; } 
.flags.gw { background-position: 0px -1953px; } 
.flags.gy { background-position: 0px -1974px; } 
.flags.hk { background-position: 0px -1995px; } 
.flags.hm { background-position: 0px -2016px; } 
.flags.hn { background-position: 0px -2037px; } 
.flags.hr { background-position: 0px -2058px; } 
.flags.ht { background-position: 0px -2079px; } 
.flags.hu { background-position: 0px -2100px; } 
.flags.id { background-position: 0px -2121px; } 
.flags.ie { background-position: 0px -2142px; } 
.flags.il { background-position: 0px -2163px; } 
.flags.in { background-position: 0px -2184px; } 
.flags.io { background-position: 0px -2205px; } 
.flags.iq { background-position: 0px -2226px; } 
.flags.ir { background-position: 0px -2247px; } 
.flags.is { background-position: 0px -2268px; } 
.flags.it { background-position: 0px -2289px; } 
.flags.jm { background-position: 0px -2310px; } 
.flags.jo { background-position: 0px -2331px; } 
.flags.jp { background-position: 0px -2352px; } 
.flags.ke { background-position: 0px -2373px; } 
.flags.kg { background-position: 0px -2394px; } 
.flags.kh { background-position: 0px -2415px; } 
.flags.ki { background-position: 0px -2436px; } 
.flags.km { background-position: 0px -2457px; } 
.flags.kn { background-position: 0px -2478px; } 
.flags.kp { background-position: 0px -2499px; } 
.flags.kr { background-position: 0px -2520px; } 
.flags.kw { background-position: 0px -2541px; } 
.flags.ky { background-position: 0px -2562px; } 
.flags.kz { background-position: 0px -2583px; } 
.flags.la { background-position: 0px -2604px; } 
.flags.lb { background-position: 0px -2625px; } 
.flags.lc { background-position: 0px -2646px; } 
.flags.li { background-position: 0px -2667px; } 
.flags.lk { background-position: 0px -2688px; } 
.flags.lr { background-position: 0px -2709px; } 
.flags.ls { background-position: 0px -2730px; } 
.flags.lt { background-position: 0px -2751px; } 
.flags.lu { background-position: 0px -2772px; } 
.flags.lv { background-position: 0px -2793px; } 
.flags.ly { background-position: 0px -2814px; } 
.flags.ma { background-position: 0px -2835px; } 
.flags.mc { background-position: 0px -2856px; } 
.flags.md { background-position: 0px -2877px; } 
.flags.me { background-position: 0px -2898px; } 
.flags.mg { background-position: 0px -2920px; } 
.flags.mh { background-position: 0px -2941px; } 
.flags.mk { background-position: 0px -2962px; } 
.flags.ml { background-position: 0px -2983px; } 
.flags.mm { background-position: 0px -3004px; } 
.flags.mn { background-position: 0px -3025px; } 
.flags.mo { background-position: 0px -3046px; } 
.flags.mp { background-position: 0px -3067px; } 
.flags.mq { background-position: 0px -3088px; } 
.flags.mr { background-position: 0px -3109px; } 
.flags.ms { background-position: 0px -3130px; } 
.flags.mt { background-position: 0px -3151px; } 
.flags.mu { background-position: 0px -3172px; } 
.flags.mv { background-position: 0px -3193px; } 
.flags.mw { background-position: 0px -3214px; } 
.flags.mx { background-position: 0px -3235px; } 
.flags.my { background-position: 0px -3256px; } 
.flags.mz { background-position: 0px -3277px; } 
.flags.na { background-position: 0px -3298px; } 
.flags.nc { background-position: 0px -3319px; } 
.flags.ne { background-position: 0px -3340px; } 
.flags.nf { background-position: 0px -3361px; } 
.flags.ng { background-position: 0px -3382px; } 
.flags.ni { background-position: 0px -3403px; } 
.flags.nl { background-position: 0px -3424px; } 
.flags.no { background-position: 0px -3445px; } 
.flags.np { background-position: 0px -3466px; } 
.flags.nr { background-position: 0px -3487px; } 
.flags.nu { background-position: 0px -3508px; } 
.flags.nz { background-position: 0px -3529px; } 
.flags.om { background-position: 0px -3550px; } 
.flags.pa { background-position: 0px -3571px; } 
.flags.pe { background-position: 0px -3592px; } 
.flags.pf { background-position: 0px -3613px; } 
.flags.pg { background-position: 0px -3634px; } 
.flags.ph { background-position: 0px -3655px; } 
.flags.pk { background-position: 0px -3676px; } 
.flags.pl { background-position: 0px -3697px; } 
.flags.pm { background-position: 0px -3718px; } 
.flags.pn { background-position: 0px -3739px; } 
.flags.pr { background-position: 0px -3760px; } 
.flags.ps { background-position: 0px -3781px; } 
.flags.pt { background-position: 0px -3802px; } 
.flags.pw { background-position: 0px -3823px; } 
.flags.py { background-position: 0px -3844px; } 
.flags.qa { background-position: 0px -3865px; } 
.flags.rd { background-position: 0px -3886px; } 
.flags.re { background-position: 0px -3907px; } 
.flags.ro { background-position: 0px -3928px; } 
.flags.rs { background-position: 0px -3949px; } 
.flags.ru { background-position: 0px -3970px; } 
.flags.rw { background-position: 0px -3991px; } 
.flags.sa { background-position: 0px -4012px; } 
.flags.sb { background-position: 0px -4033px; } 
.flags.sc { background-position: 0px -4054px; } 
.flags.scotland { background-position: 0px -4075px; } 
.flags.sd { background-position: 0px -4096px; } 
.flags.se { background-position: 0px -4117px; } 
.flags.sg { background-position: 0px -4138px; } 
.flags.sh { background-position: 0px -4159px; } 
.flags.si { background-position: 0px -4180px; } 
.flags.sj { background-position: 0px -4201px; } 
.flags.sk { background-position: 0px -4222px; } 
.flags.sl { background-position: 0px -4243px; } 
.flags.sm { background-position: 0px -4264px; } 
.flags.sn { background-position: 0px -4285px; } 
.flags.so { background-position: 0px -4306px; } 
.flags.sr { background-position: 0px -4327px; } 
.flags.st { background-position: 0px -4348px; } 
.flags.sv { background-position: 0px -4369px; } 
.flags.sy { background-position: 0px -4390px; } 
.flags.sz { background-position: 0px -4411px; } 
.flags.tc { background-position: 0px -4432px; } 
.flags.td { background-position: 0px -4453px; } 
.flags.tf { background-position: 0px -4474px; } 
.flags.tg { background-position: 0px -4495px; } 
.flags.th { background-position: 0px -4516px; } 
.flags.tj { background-position: 0px -4537px; } 
.flags.tk { background-position: 0px -4558px; } 
.flags.tl { background-position: 0px -4579px; } 
.flags.tm { background-position: 0px -4600px; } 
.flags.tn { background-position: 0px -4621px; } 
.flags.to { background-position: 0px -4642px; } 
.flags.tr { background-position: 0px -4663px; } 
.flags.tt { background-position: 0px -4684px; } 
.flags.tv { background-position: 0px -4705px; } 
.flags.tw { background-position: 0px -4726px; } 
.flags.tz { background-position: 0px -4747px; } 
.flags.ua { background-position: 0px -4768px; } 
.flags.ug { background-position: 0px -4789px; } 
.flags.um { background-position: 0px -4810px; } 
.flags.us { background-position: 0px -4831px; } 
.flags.uy { background-position: 0px -4852px; } 
.flags.uz { background-position: 0px -4873px; } 
.flags.va { background-position: 0px -4894px; } 
.flags.vc { background-position: 0px -4915px; } 
.flags.ve { background-position: 0px -4936px; } 
.flags.vg { background-position: 0px -4957px; } 
.flags.vi { background-position: 0px -4978px; } 
.flags.vn { background-position: 0px -4999px; } 
.flags.vu { background-position: 0px -5020px; } 
.flags.wales { background-position: 0px -5041px; } 
.flags.wf { background-position: 0px -5062px; } 
.flags.ws { background-position: 0px -5083px; } 
.flags.x { background-position: 0px -5104px; } 
.flags.ye { background-position: 0px -5125px; } 
.flags.yt { background-position: 0px -5146px; } 
.flags.za { background-position: 0px -5167px; } 
.flags.zm { background-position: 0px -5188px; } 
.flags.zw { background-position: 0px -5209px; } 